.container {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    border: 1px solid #111;
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
}

.title{
    text-align: center;
    font-weight: 700;
}
