.container {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    border: 3px solid #111;
    padding: 10px;
    /* background-color: bisque; */
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f6d484, #c37f26 80%, #69772c);
}

.title{
    text-align: center;
    font-weight: 700;
}
